@import "tailwindcss";

:root {
  --brown-color: #725843;
  --light-brown-color: #9f7f65;
  --dark-gray-color: #60564d;
  --white-brown-color: #ccb4a0;
  --dark-brown-color: #3a2a1d;

  --kendal-charcoal-color: #686662;
  --white-dove-color: #f0ede4;
  --wrought-iron-color: #323333;
  --light-dark-color: #78726a;
  --dark-black-color: #1a1a17;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brown-color: #725843;
    --light-brown-color: #9f7f65;
    --dark-gray-color: #60564d;
    --white-brown-color: #ccb4a0;
    --dark-brown-color: #3a2a1d;

    --kendal-charcoal-color: #686662;
    --white-dove-color: #f0ede4;
    --wrought-iron-color: #323333;
    --light-dark-color: #78726a;
    --dark-black-color: #1a1a17;
  }
}

body {
  font-family: var(--font-sans);
}
.grainy-overlay {
  background-image: url('/images/noisy.png');
  background-repeat: repeat;
  opacity: 1; 
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: overlay; 
}
.header {
  color: var(--light-dark-color);
}
.services {
  background-color: var(--dark-black-color);
  color: var(--white-dove-color);
}
.box {
  background-color: var(--dark-black-color);
}
html {
  scroll-behavior: smooth;
}
.hero-btn {
  background-color: var(--dark-black-color);
  color: var(--white-dove-color);
}
.dark-btn {
  background-color: var(--dark-black-color);
  color: var(--white-dove-color);
}
.dark-btn:hover {
  color: var(--dark-black-color);
}
.white-btn {
  color: var(--dark-black-color);
}
.white-btn:hover {
  background-color: var(--dark-black-color);
  color: var(--white-dove-color);
}
.projects-btn {
  color: var(--white-dove-color);
}
.projects-btn:hover{
  background-color: var(--white-dove-color);
  color: var(--dark-black-color);
}
.preloader {
  background: var(--dark-black-color);
  color: var(--white-dove-color);
}
.projects {
  background: var(--dark-black-color);
  color: var(--white-dove-color);
}
.about {
  background: var(--dark-black-color);
  color: var(--white-dove-color);
}
.gallery {
  background: var(--dark-black-color);
  color: var(--white-dove-color);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 8px solid #686662;
  border-top: 8px solid #f0ede4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.box-transition {
  transition: transform 0.5s ease;
}

.font-dancing-script {
  font-family: "Dancing Script";
}


@media screen and (max-width: 1080px) {
  
  
}